body {
    margin: 0;

    --desktop-font-size: 1.1rem;
    --tablet-font-size: 1.1rem;
    --mobile-font-size: 0.8rem;

    --tablet-width: 94%;
    --mobile-width: 90%;
}

* {
    box-sizing: border-box;
    /* https://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font */
    max-height: 999999px;
}

ul {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    position: relative;
}

.container {
    display: flex;
    font-size: var(--desktop-font-size);
    margin: auto;
    max-width: 1366px;
}

@media (max-width: 1023px) {
    .container {
        font-size: var(--tablet-font-size);
        max-width: 100%;
    }
}

@media (max-width: 599px) {
    .container {
        font-size: var(--mobile-font-size);
    }
}

/* sidebar */

.sidebar {
    background: #404040;
    min-height: 100vh;
    color: #bdbbba;
    text-align: right;
    padding: 20px 30px 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    flex-basis: 30%;
}

.sidebar__title {
    color: #be913d;
}

.sidebar__section {
    margin-top: 120px;
}

@media (max-width: 1023px) {
    .sidebar__section {
        margin-top: 40px;
    }
}

/* horizontal-line */
.line {
    display: none;
    border-bottom: 3px solid #be913d;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1366px;
    z-index: 1;
}

.line_up {
    top: 180px;
}

.line_down {
    bottom: 40px;
}

@media (max-width: 1023px) {
    .line {
        display: block;
    }
    .line_down {
        display: none;
    }
}

.position {
    z-index: 2;
    white-space: nowrap;
    font-size: 1.25em;
    position: absolute;
    background: #ffffff;
    top: 180px;
    letter-spacing: 2px;
    padding: 0 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
}

@media (max-width: 1023px) {
    .sidebar {
        display: none;
    }

    .position {
        padding: 0 4px;
        transform: translateX(-50%) translateY(-8px);
        top: 138px;
    }

    .line_up {
        top: 142px;
    }
}

@media (max-width: 599px) {
    .position {
        top: 120px;
    }

    .line_up {
        top: 120px;
    }
}

/* contacts */
.contacts {
    display: flex;
    flex-direction: column;
}

.contacts.contacts_mobile {
    display: none;
    padding-top: 72px;
}

@media (max-width: 1023px) {
    .contacts.contacts_mobile {
        display: flex;
    }
}

@media (max-width: 599px) {
    .contacts.contacts_mobile {
        padding-top: 52px;
    }
}

.contacts__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 1.9;
    text-decoration: none;
    color: #bdbbba;
}

.contacts_mobile .contacts__row {
    color: initial;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.contacts__row_link:hover {
    cursor: pointer;
    color: #be913d;
}

.contacts__icon {
    margin-left: 20px;
    width: 20px;
    height: 25px;
}

.contacts_mobile .contacts__icon {
    margin-left: 0;
    margin-right: 20px;
}

.contacts__row_link .contacts__icon {
    display: block;
}

.contacts__row_link:hover .contacts__icon {
    display: none;
}

.contacts__row_link .contacts__icon.contacts__icon_active {
    display: none;
}

.contacts__row_link:hover .contacts__icon.contacts__icon_active {
    display: block;
}

.marked {
    font-weight: 700;
}

/* education */

.education.education_mobile {
    display: none;
}

.education__section:not(:last-child) {
    margin-bottom: 50px;
}

.education-row {
    line-height: 1.5;
}

@media (max-width: 1023px) {
    .education.education_mobile {
        display: block;
    }

    .education__section:not(:last-child) {
        margin-bottom: 30px;
    }
}

/* skills */

.skills__list {
    display: flex;
    flex-wrap: wrap;
}

.skills__tag {
    border: 1px solid #404040;
    color: #404040;
    border-radius: 4px;
    padding: 4px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* additional skills */

.additional-skills.additional-skills_mobile {
    display: none;
}

.additional-skills__row {
    line-height: 1.9;
    list-style-type: none;
}

.additional-skills_mobile .additional-skills__list {
    padding-left: 16px;
    margin: 0;
}

.additional-skills_mobile .additional-skills__row {
    list-style-type: disc;
}

@media (max-width: 1023px) {
    .additional-skills.additional-skills_mobile {
        display: block;
    }
}

/* languages */

.languages.languages_mobile {
    display: none;
}

.languages__row {
    display: flex;
    justify-content: flex-end;
    line-height: 2;
}

.languages_mobile .languages__row {
    justify-content: flex-start;
}

.language__name {
    padding-right: 30px;
}

.languages_mobile .language__name {
    padding-right: 0;
    width: 70px;
}

.language__skill {
    display: flex;
    align-items: center;
}

.language__dot {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: #bdbbba;
}

.language__dot_active {
    background: #be913d;
}

.language__dot:not(:last-child) {
    margin-right: 10px;
}

@media (max-width: 1023px) {
    .languages.languages_mobile {
        display: block;
    }
}

/* certificates */

.certificates.certificates_mobile {
    display: none;
}

.certificates-row {
    line-height: 1.9;
}

.certificates__link {
    text-decoration: none;
    color: #bdbbba;
}

.certificates_mobile .certificates__link {
    color: inherit;
    opacity: 0.5;
}

.certificates__link:hover {
    cursor: pointer;
    color: #be913d;
}

@media (max-width: 1023px) {
    .certificates.certificates_mobile {
        display: block;
    }
}

/* base */

.base {
    position: relative;
    padding: 0 20px 60px;
    flex-basis: 70%;
    margin: auto;
}

@media (max-width: 1023px) {
    .base {
        flex-basis: var(--tablet-width);
        padding: 0 0 40px 0;
    }
}

@media (max-width: 599px) {
    .base {
        flex-basis: var(--mobile-width);
    }
}

.primary__section:not(:last-child) {
    margin-bottom: 80px;
}

@media (max-width: 1023px) {
    .primary__section:not(:last-child) {
        margin-bottom: 40px;
    }
}

/* head */

.head {
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3em;
}

.head__name {
    color: inherit;
}

.head__surname {
    color: #be913d;
}

.head__photo {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

@media (max-width: 1023px) {
    .head {
        font-size: 2em;
    }
}

.profile {
    line-height: 1.5;
    padding-top: 100px;
}

@media (max-width: 1023px) {
    .profile {
        padding-top: 0;
    }
}

/* subtitle */

.subtitle {
    font-size: 1.2em;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
}

.subtitle__text {
    padding: 0 5px;
}

.subtitle__text_bordered {
    border-bottom: 3px solid #be913d;
}

.subtitle__hint {
    color: #949494;
    font-size: 0.87em;
    text-transform: initial;
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    letter-spacing: normal;
}

/* experience */

.experience__section:not(:last-child) {
    margin-bottom: 70px;
}

/* job */

.job {
    display: flex;
}

.job__time {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

.job-info {
    flex-direction: column;
    flex-grow: 1;
}

.job__row {
    display: flex;
    justify-content: space-between;
}

.job__employer-description {
    flex-grow: 1;
}

.job__position {
    font-size: 1em;
    color: #949494;
}

.job__description {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 16px;
}

.job__description-item {
    line-height: 1.5;
    padding: 2px 0;
}

.job__description-item-link {
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.job__description-item-link:hover {
    opacity: 1;
    color: #be913d;
}

.job__key-technologies {
    display: flex;
}

.job__key-technologies-subtitle {
    font-weight: 700;
    margin-right: 0.5em;
    flex-shrink: 0;
    line-height: 1.5;
}

.job__key-technologies-list {
    line-height: 1.5;
}

@media (max-width: 1023px) {
    .job {
        flex-direction: column;
    }

    .job__time {
        flex-basis: initial;
        margin-bottom: 5px;
    }

    .job__key-technologies {
        flex-direction: column;
    }

    .job__key-technologies-subtitle {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

.job__link {
    padding-top: 5px;
    opacity: 0.5;
    cursor: pointer;
}

.job__link:hover {
    opacity: 1;
}

.job__link-anchor {
    text-decoration: none;
    color: #000000;
}

.job__link-anchor:hover {
    text-decoration: none;
    color: #be913d;
}
