body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    position: relative;
}

.container {
    display: flex;
}


/* sidebar */

.sidebar {
    width: 450px;
    max-width: 30%;
    background: #404040;
    height: 100%;
    min-height: 100%;
    color: #BDBBBA;
    text-align: right;
    padding: 40px 30px 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.sidebar__title {
    color: #BE913D;
}

.sidebar__section {
    margin-top: 120px;
}

/* horizontal-line */
.line {
    border-bottom: 3px solid #BE913D;
    position: absolute;
    left: 0;
    width: 100vw;
    max-width:100%;
    z-index: 1;
}

.line_up {
    top: 180px;
}

.line_down {
    bottom: 40px;
}



/* contacts */
.contacts {
    display: flex;
    flex-direction: column;
}

.contacts__row {
    display: flex;
    justify-content: flex-end;
    line-height: 1.9;
    text-decoration: none;
    color: #BDBBBA;
}

.contacts__row:hover {
    cursor: pointer;
    color: #BE913D;
}

.contacts__icon {
    margin-left: 20px;
    width: 20px;
}

.contacts__row .contacts__icon {
    display: block;
}

.contacts__row:hover .contacts__icon {
    display: none;
}

.contacts__row .contacts__icon.contacts__icon_active {
    display: none;
}

.contacts__row:hover .contacts__icon.contacts__icon_active {
    display: block;
}


/* education */

.education__section:not(:last-child) {
    margin-bottom: 50px;
}

.education-row {
    line-height: 1.5
}


/* skills */

.skills__list {
    display: flex;
    flex-wrap: wrap;
}

.skills__tag {
    border: 1px solid #404040;
    color: #404040;
    border-radius: 4px;
    padding: 4px 10px;;
    margin-bottom: 10px;
    margin-right: 10px;
}


/* additional skills */

.additional-skills__row {
    line-height: 1.5
}


/* languages */

.languages__row {
    display: flex;
    justify-content: flex-end;
    line-height: 2;
}

.language__name {
    margin-right: 30px;
}

.language__skill {
    display: flex;
    align-items: center;
}

.language__dot {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: #BDBBBA;
}

.language__dot_active {
    background: #BE913D;
}

.language__dot:not(:last-child) {
    margin-right: 10px;
}





.head {
    padding: 20px 0;
    position: relative;
}

.head__name {
    color: #FFFFFF;
}

.head__surname {
    color: #BE913D;
}

.head__photo {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



.base {
    position: relative;
    width: 100%;
    padding: 0 20px 100px;
}

.base__section:not(:last-child) {
    margin-bottom: 100px;
}

.head {
    background: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 48px;
}

.position {
    z-index: 2;
    position: absolute;
    margin: auto;
    background: #FFFFFF;
    top: 180px;
    letter-spacing: 2px;
    padding: 0 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
}

.career {
    padding-top: 100px;
}


/* subtitle */

.subtitle {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle__text {
    padding: 0 5px;
}

.subtitle__text_bordered {
    border-bottom: 3px solid #BE913D;
}


/* experience */

.experience__section:not(:last-child) {
    margin-bottom: 50px;
}


/* job */

.job {
    display: flex;
}

.job__time {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

.job-info {
    flex-direction: column;
}

.job__row {
    display: flex;
    justify-content: space-between;
}

.job__secondary-text {
    font-size: 16px;
    color: #949494;
}

.job__description {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.job__description-item {
    line-height: 1.5;
}

.job__description-item-link {
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.job__description-item-link:hover {
    opacity: 1;
    color: #BE913D;
}

.job__key-technologies {
    display: flex;
}

.job__key-technologies-subtitle {
    font-weight: 700;
    margin-right: 0.5em;
    flex-shrink: 0;
}

.job__link {
    padding-top: 5px;
    opacity: 0.5;
    cursor: pointer;
}

.job__link:hover {
    opacity: 1;
}

.job__link-anchor {
    text-decoration: none;
    color: #000000;
}

.job__link-anchor:hover {
    text-decoration: none;
    color: #BE913D;
}
